.background{
    background:linear-gradient(#2b698f,#91caed)no-repeat; background-attachment: fixed;
  


}
 
.box{
    background-color: #ffffff;  
    border: 2px solid rgb(174, 228, 248);     
    border-radius: 10px;        
    padding: 40px;               
    width: 300px;    
    display:inline-block; 
    margin: 100px; 
}
    
