.background{
    background:linear-gradient(#c1d5e1,#409ad3)no-repeat; background-attachment: fixed;

}
 
 .card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
}

.card {
  width: 25%;
  background-color: #ffffff;  
    border: 2px solid rgb(91, 162, 214);     
    border-radius: 10px;        
    height: 300px;
    
}


