.background{
    background: linear-gradient(#bce49b,#40925a)no-repeat; background-attachment: fixed;
  
}

.card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
}

.card {
  width: 25%;
  background-color: #ffffff;  
    border: 2px solid rgb(199, 240, 132);     
    border-radius: 10px;        
    height: 350px;
    
}


.zoom {
  transition: all 0.10s ease; 
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: inline-block;
  image-rendering: auto
}

.zoom:hover {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;         
  height: 100vh;       
  object-fit: contain;  
  z-index: 9999;      
  margin: 0;
  padding: 0;
  transform: none;     
}