.background{
    background: linear-gradient(#63cda4,#40925a)no-repeat; background-attachment: fixed;
  
}

.box{
      background-color: #ffffff;  
    border: 2px solid rgb(66, 216, 159);     
    border-radius: 10px;        
    padding: 20px;               
    width: 300px;    
    display:inline-block; 
    margin: 10px;  
}