.background{
    background: linear-gradient(#a0c995,#246737)no-repeat; 
    background-attachment: fixed;
}

.card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 25%;
  background-color: #ffffff;  
  border: 2px solid rgb(46, 108, 63);     
  border-radius: 10px;        
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.zoom {
  transition: all 0.10s ease; 
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: inline-block;
  image-rendering: auto;
}

.zoom:hover {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;         
  height: 100vh;       
  object-fit: contain;  
  z-index: 9999;      
  margin: 0;
  padding: 0;
  transform: none;     
}

h1{
  font-size: 60px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 20px;
}

p{
  font-size: 18px;
  line-height: 1.6;
}