.background{
    background: linear-gradient(white#f5d142#edb44a);
  margin:0;
  padding:0;
  height:100vh;

  background-image: url(Untitled_Artwork\ 5.gif);
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;

}

  

.card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
}

.card {
  width: 25%;
  background-color: #f2c75c;  
    border: 2px solid rgb(237, 202, 61);     
    border-radius: 10px;        
    height: 400px;
    
}


.zoom {
  transition: all 0.10s ease; 
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: inline-block;
  image-rendering: auto
}


.zoom:hover {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;         
  height: 100vh;       
  object-fit: contain;  
  z-index: 9999;      
  margin: 0;
  padding: 0;
  transform: none;     
}

h1{
  font-size: 60px;
}
h2{
  font-size: 24px;
}

p{font-size: 16px;}