.background{
    background: linear-gradient(#e2a0f7,#721072)no-repeat; background-attachment: fixed;
  
}

.card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
}

.card {
  background-color: #ffffff;  
    border: 2px solid #bf78e8;     
    border-radius: 2px;        
    height: 400px;
    width: 400px;
    padding-inline: 30px;
}


.zoom {
  transition: all 0.10s ease; 
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: inline-block;
  image-rendering: auto
}

.zoom:hover {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;         
  height: 100vh;       
  object-fit: contain;  
  z-index: 9999;      
  margin: 0;
  padding: 0;
  transform: none;     
}

h1{
  font-size: 60px;
}
h2{
  font-size: 24px;
}

p{font-size: 16px;}