.background{
    background: linear-gradient(#d6472b,#e68f43)no-repeat; 
    background-attachment: fixed;
  
}



.card-container {
  background-color: rgba(250, 128, 114, 0);
  display: flex;
  gap: 20px;
}

.card {
width: 25%;
  background-color: #ffffff;  
  border: 2px solid rgb(226, 53, 53);     
  border-radius: 10px;        
    height: 300px;
}
